:root {
    --header-height: 3.5rem; /*56px*/

    /*========== Colors ==========*/
    --white: #fff;
    --first-color: #3d664b;
    --first-color-alt: #365942;
    --first-color-light: #a6c9b2;
    --first-color-lighten: #e6f0e9;
    --title-color: #262927;
    --text-color: #575c58;
    --text-color-light: #87918b;
    --body-color: var(--white);
    --container-color: var(--white);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*========== Font weight ==========*/
    /* --font-medium: 500;
    --font-semi-bold: 600; */

    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /* --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem; */

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

.section__title-center {
    text-align: center;
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden; /*For animation*/
}
